<!-- Mobidul Map -->
<map
  center="{{ mapCenterAttr }}"
  pan-control="false"
  zoom-control="false"
  street-view-control="false"
  on-dragstart="dragStart()"
>
  <!-- Stations -->
  <marker
    ng-repeat="marker in stations track by marker.id"
    ng-if="marker.isEligible"
    position="{{ marker.latitude }}, {{ marker.longitude }}"
    on-click="stationSelect( event, marker )">
  </marker>

  <!-- My Position Accuracy Circle -->
  <shape
    name="circle"
    stroke-color="#3797c4"
    stroke-opacity="0.4"
    stroke-weight="2"
    fill-color="#3797c4"
    fill-opacity="0.2"
    center="{{ myPosition.coords.latitude }}, {{ myPosition.coords.longitude }}"
    radius="{{ myPosition.coords.accuracy }}">
  </shape>

  <!-- My Position -->
  <marker
    position="{{ myPosition.coords.latitude }}, {{ myPosition.coords.longitude }}"
    icon="{{ :: myPositionIcon }}"
    z-index="{{ :: myPositionZIndex }}"
    opacity="{{ myPositionOpacity }}">
  </marker>
</map>


<md-button
  class="md-fab md-mini md-fab-bottom-right md-primary md-mobilot"
  ng-class="{ 'md-loading' : locationBlink }"
  style="bottom : 80px"
  aria-label="My position"
  ng-click="toggleMyPosition()"
>
  <md-icon ng-show=" ! myPosition">location_searching</md-icon>
  <md-icon ng-show="myPosition && ! centerToMyPosition">location_disabled</md-icon>
  <md-icon ng-show="myPosition && centerToMyPosition">my_location</md-icon>
</md-button>

<md-button
  class="md-fab md-mini md-fab-bottom-right md-primary md-mobilot"
  aria-label="Fit markers"
  ng-click="fitToMarkers()"
>
  <md-icon>place</md-icon>
</md-button>

<div
  ng-show="accuracyRibbon.show"
  class="accuracy-ribbon md-ghost"
  ng-class="{ 'accuracy-ribbon-animate' : accuracyRibbon.show }"
  style="right : 86px; bottom : 22px"
  aria-label="Accuracy"
  layout-margin
  md-no-ink
>
  <span>Genauigkeit: {{ accuracyRibbon.value }}m</span>
</div>
