<div ng-app="Home">

  <!-- HomeController as home -->

  <style>
    #home_mobidule_view {
      position: fixed;
      width: 100%;
      top: 156px;
      bottom: 0;
    }
    #home_list_mobidule {
      padding-top: 0;
      padding-bottom: 56px;
    }
    /*#home_list_mobidule md-list-item {
      color: #3797c4
    }*/

    #home_login_view {
      width: 100%
    }

    #homeProgressCircular {
      margin: 7em auto
    }

    /*#home_speed_dial {
      position: fixed;
      right: 20px;
      bottom: 20px;
      background: transparent;
    }*/

    #home_controls {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 56px;
    }
    #home_create_button,
    #home_play_button {
      color: white;
      /*background: #3797c4;*/
      background: rgba(55, 151, 196, 0.9) !important;
    }
    #home_create_button:hover,
    #home_play_button:hover {
      background: #3797c4 !important
    }

    .mobidul-color-wrapper {
      width: 26px;
      height: 26px;
      float: left;

      border-radius: 13px;
      margin-right : 1em;
    }
    .mobidulCard {
      width: 100%;
      height: 100px;
      border-bottom: 1px solid lightgray;
      padding: 0.8em 1.6em;
      cursor: pointer;
      text-decoration: none;
      overflow: hidden;
    }
    .stdLink {
      color: #3049D1;
      cursor: pointer;
      font-weight: 300;
    }
  </style>


  <div
    class="search-type-controls"
    ng-class="{ 'ios-top-margin': home.isCordovaIos }"
  >
    <md-tabs
      md-autoselect="false"
      md-stretch-tabs="always"
      md-swipe-content="true"
      md-selected="home.searchTypeIndex"
    >
      <md-tab md-on-select="home.changeSearchType()">{{'NEAR' | translate}}</md-tab>
      <md-tab md-on-select="home.changeSearchType()">{{'ALL' | translate}}</md-tab>
      <md-tab md-on-select="home.changeSearchType()">{{'MINE' | translate}}</md-tab>
    </md-tabs>

    <md-input-container
      class="search-field"
      ng-show=" ! home.requiredLogin"
    >
      <label>{{ home.searchPlaceholder }}</label>

      <input
        ng-maxlength="30"
        ng-model="home.searchQuery"
      >
    </md-input-container>
  </div>


  <div>
    <!-- Login -->

    <div
      id="home_login_view"
      class="header-content header-tabs-content"
      ng-show="home.requiredLogin"
    >
      <div ui-view="login"></div>
    </div>


    <!-- Meine Mobidule -->

    <md-content
      id="home_mobidule_view"
      class="home-sub-view"
      ng-show=" ! home.requiredLogin"
      ng-class="{ 'ios-top-margin': home.isCordovaIos }"
    >
      <md-progress-circular
        id="homeProgressCircular"
        style="display: {{ home.loading }}"
        md-mode="indeterminate">
      </md-progress-circular>

      <!-- TODO: check if ng-show or ng-if is better here -->
      <md-list
        id="home_list_mobidule"
        ng-if="home.hasPosition() || home.mobiduls.length"
      >
        <md-list-item
          class="md-3-line"
          style="color: {{ mobidul.background }}"
          ng-repeat="mobidul in home.mobiduls | filter: home.searchQuery"
          ng-click="home.switchContent( mobidul.code )"
        >
          <div
            class="mobidul-color-wrapper md-avatar"
            style="background: {{ mobidul.background }}; display: inline-block">
          </div>
          <div class="md-list-item-text">
            <h3>{{ mobidul.name }}</h3>
            <p>{{ mobidul.description }}</p>
            <p  ng-if="home.searchTypeIndex == 0"
                translate="DISTANCE"
                translate-values="{distance: mobidul.distance}"></p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>


    <!-- Home speed dial -->
    <!-- ng-mouseenter="home.isFABOpen = true"
    ng-mouseleave="home.isFABOpen = false" -->

    <!-- <md-fab-speed-dial
        id="home_speed_dial"
        md-direction="up"
        class="md-fling"
        md-open="home.isFABOpen"
        ng-click="home.isFABOpen = ! home.isFABOpen">

        <md-fab-trigger>
            <md-button aria-label="Menu" class="md-fab md-warn md-mobilot">
                <md-icon>menu</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <div>
                <md-button
                    aria-label="Mitmachen"
                    class="md-fab md-raised md-mini md-mobilot"
                    ng-click="home.switchToPlay()">

                    <md-tooltip md-visible="home.isFABOpen" md-direction="left">Mitmachen</md-tooltip>

                    <md-icon>assignment_ind</md-icon>
                </md-button>
            </div>
            <div>
                <md-button
                    aria-label="Mobidul erstellen"
                    class="md-fab md-raised md-mini md-mobilot"
                    ng-click="home.switchToCreator()">

                    <md-tooltip md-visible="home.isFABOpen" md-direction="left">Mobidul erstellen</md-tooltip>
                    <md-icon>add_circle_outline</md-icon>
                </md-button>
            </div>
        </md-fab-actions>
    </md-fab-speed-dial> -->


    <div id="home_controls" layout="row">
      <md-button
        id="home_create_button"
        class="md-raised md-mobilot"
        aria-label="Mobidul erstellen"
        ng-click="home.switchToCreator()"
        flex
      >
        <md-icon>add_circle_outline</md-icon>
        <span translate="CREATE"></span>
      </md-button>

      <md-button
        id="home_play_button"
        class="md-raised md-mobilot"
        aria-label="Mitmachen"
        ng-click="home.switchToPlay()"
        flex
      >
        <md-icon>assignment_ind</md-icon>
        <span translate="JOIN"></span>
      </md-button>
    </div>
  </div>
</div>
