# OS files
.DS_Store
Thumbs.db

# Laravel
bootstrap/compiled.php
vendor/
app/config/database.php
#app/config/app.php
app/config/local
app/storage

# Laravel
public/upload
public/export
public/lib
public/bin

# Laravel 5
.env.*.php
.env.php

# Cordova source folders
cordova/www
cordova/platforms/browser
cordova/platforms/ios
cordova/platforms/android

# exclude React bundle
public/assets/js/react.bundle.js

# Other
.excluded/
*.sh
!setup.sh

# Composer
composer.phar
composer.lock

# Node
node_modules

# IDE files
.idea
.vagrant
.imdone/*
.imdoneignore

# Backup files
*.bak
