# OS files
.DS_Store
Thumbs.db

# Laravel
bootstrap/compiled.php
vendor/
app/config/database.php
#app/config/app.php
app/config/local
app/storage
public/upload

# Laravel 5
.env.*.php
.env.php

# Other
.excluded/
*.sh
*.py

# Composer
composer.phar
composer.lock

# IDE files
.idea
.vagrant
.imdone/*
.imdoneignore

# Backup files
*.bak
