# OS files
.DS_Store
Thumbs.db

# Laravel
bootstrap/compiled.php
vendor/
app/config/database.php
#app/config/app.php
app/config/local
app/storage

# Laravel
public/upload
public/export
#public/lib # TODO when updating bower dependencies

# Laravel 5
.env.*.php
.env.php

# Cordova source folders
cordova/platforms/ios/www/

# Other
.excluded/
*.sh
!setup.sh

# Composer
composer.phar
composer.lock

# IDE files
.idea
.vagrant
.imdone/*
.imdoneignore

# Backup files
*.bak
