<div ng-app="Login" layout-padding>

  <!-- LoginController as login -->

  <md-content
    class="header-content"
    layout="column"
    layout-padding
    ng-class="{
      'header-tabs-content': login.isHeaderTabsContent,
      'ios-top-margin': login.isCordovaIos
    }"
  >
    <h2 class="bottomless">Anmelden</h2>

    <form
      name="loginForm"
      ng-submit="login.loginUser()"
      novalidate
    >
      <!-- Username -->
      <md-input-container class="md-icon-float">
        <label>Benutzername</label>
        <md-icon>person</md-icon>
        <input
          type="text"
          ng-model="login.credentials.username"
        >
      </md-input-container>

      <!-- Password -->
      <md-input-container class="md-icon-float">
        <label>Passwort</label>
        <md-icon>lock</md-icon>
        <input
          type="password"
          ng-model="login.credentials.password"
        >
      </md-input-container>


      <!-- Buttons -->
      <div layout="row" layout-sm="column">
        <md-button
          type="submit"
          class="md-raised md-primary md-mobilot"
          ng-disabled="login.disableLoginButton"
        >Anmelden</md-button>

        <br>

        <md-button
          type="button"
          class="md-raised md-mobilot-color"
          ng-click="login.goToRegister()"
        >Benutzer registrieren</md-button>

        <md-button
          type="button"
          class="md-primary md-mobilot-color"
          ng-click="login.goToForgotPassword()"
        >Passwort vergessen</md-button>
      </div>
    </form>
  </md-content>
</div>
