<div ng-app="Login">

  <!-- LoginController as login -->

  <md-content
    class="header-content"
    layout="column"
    layout-padding
    ng-class="{ 'ios-top-margin': login.isCordovaIos }"
  >
    <h2 class="bottomless" translate="REGISTER"></h2>

    <form
      name="loginForm"
      ng-submit="login.registerUser()"
      novalidate
    >
      <!-- Benutzername -->
      <md-input-container class="md-icon-float">
        <label translate="USER_NAME"></label>
        <md-icon>person</md-icon>
        <input
          type="text"
          ng-model="login.credentials.username"
        >
      </md-input-container>

      <!-- Email -->
      <md-input-container class="md-icon-float">
        <label translate="EMAIL"></label>
        <md-icon>email</md-icon>
        <input
          type="email"
          ng-model="login.credentials.email"
        >
      </md-input-container>

      <!-- Passwort -->
      <md-input-container class="md-icon-float">
        <label translate="PASSWORD"></label>
        <md-icon>lock</md-icon>
        <input
          type="password"
          ng-model="login.credentials.password"
        >
      </md-input-container>


      <!-- Buttons -->
      <div layout="row" layout-sm="column">
        <md-button
          type="submit"
          class="md-raised md-primary md-mobilot"
          ng-disabled="login.disableRegisterButton"
        >
          <span translate="REGISTER_USER"></span>
        </md-button>

        <br>

        <md-button
          type="button"
          class="md-raised md-mobilot-color"
          ng-click="login.goToLogin()"
        >
          <span translate="BACK_TO_LOGIN"></span>
        </md-button>
      </div>
    </form>
  </md-content>
</div>
