<div ng-app="Login">

  <!-- LoginController as login -->

  <md-content
    class="header-content"
    layout="column"
    layout-padding
    ng-class="{ 'ios-top-margin': login.isCordovaIos }"
  >
    <h2 class="bottomless" translate="REGISTER"></h2>

    <form
      name="loginForm"
      ng-submit="loginForm.$valid && login.registerUser()"
      novalidate
    >
      <!-- Benutzername -->
      <md-input-container class="md-icon-float">
        <label translate="USER_NAME"></label>
        <md-icon>person</md-icon>
        <input
          name="username"
          type="text"
          ng-model="login.credentials.username"
          required
        >
        <div ng-messages="loginForm.username.$error">
          <div ng-message="required" ng-show="loginForm.username.$invalid">{{ 'REGISTER_ERROR_REQ' | translate }}</div>
        </div>
      </md-input-container>

      <!-- Email -->
      <md-input-container class="md-icon-float">
        <label translate="EMAIL"></label>
        <md-icon>email</md-icon>
        <input
          name="email"
          type="email"
          ng-model="login.credentials.email"
          required
        >
        <div ng-messages="loginForm.email.$error">
          <div ng-message="required" ng-show="loginForm.email.$invalid">{{ 'REGISTER_ERROR_REQ' | translate }}</div>
        </div>
      </md-input-container>

      <!-- Passwort -->
      <md-input-container class="md-icon-float">
        <label translate="PASSWORD"></label>
        <md-icon>lock</md-icon>
        <input
          name="Password"
          type="password"
          ng-model="login.credentials.password"
          required
          minlength="6"
        >
        <div ng-messages="loginForm.Password.$error">
          <div ng-message="required" ng-show="loginForm.Password.$invalid">{{ 'REGISTER_ERROR_REQ_PWD' | translate }}</div>
        </div>
      </md-input-container>


      <!-- Buttons -->
      <div layout="row" layout-sm="column" style="margin-top: 15px">
        <md-button
          aria-label="login"
          type="submit"
          class="md-raised md-primary md-mobilot"
          ng-disabled="loginForm.$invalid"
        >
          <span translate="REGISTER_USER"></span>
        </md-button>

        <br>

        <md-button
          type="button"
          class="md-raised md-mobilot-color"
          ng-click="login.goToLogin()"
        >
          <span translate="BACK_TO_LOGIN"></span>
        </md-button>
      </div>
    </form>
  </md-content>
</div>
