<div ng-app="Login" layout-padding>

  <!-- LoginController as login -->

  <md-content
    class="header-content"
    layout="column"
    layout-padding
  >
    <h2>Passwort zurücksetzen</h2>
    <p>Gib hier dein neues Passwort ein.</p>

    <br>

    <form
      name="resetForm"
      ng-submit="login.resetPassword()"
      novalidate
    >
      <!-- Token -->
      <!-- <md-input-container class="md-icon-float">
        <label>Wiederherstellungscode</label>
        <md-icon>vpn_key</md-icon>

        <input
          type="text"
          ng-model="login.resetData.resetToken"
          disabled
        >
      </md-input-container> -->

      <!-- Password -->
      <md-input-container class="md-icon-float">
        <label>Neues Passwort</label>
        <md-icon>lock</md-icon>
        <input
          type="password"
          ng-model="login.resetData.newPassword"
        >
      </md-input-container>

      <!-- Password confirm -->
      <md-input-container class="md-icon-float">
        <label>Passwort bestätigen</label>
        <md-icon>lock_outline</md-icon>
        <input
          type="password"
          ng-model="login.resetData.confirmPassword"
        >
      </md-input-container>


      <!-- Buttons -->
      <md-button
        type="submit"
        class="md-raised md-primary"
        ng-disabled="login.disableResetPasswordButton"
      >
        <span>Passwort ändern</span>
      </md-button>
    </form>
  </md-content>
</div>
