<div ng-app="Login">

  <!-- LoginController as login -->

  <md-content
    class="header-content"
    layout="column"
    layout-padding
    ng-class="{ 'ios-top-margin': login.isCordovaIos }"
  >
    <h2 translate="RESET_PASSWORD"></h2>
    <p translate="ENTER_NEW_PASSWORD"></p>

    <br>

    <form
      name="resetForm"
      ng-submit="login.resetPassword()"
      novalidate
    >
      <!-- Token -->
      <!-- <md-input-container class="md-icon-float">
        <label>Wiederherstellungscode</label>
        <md-icon>vpn_key</md-icon>

        <input
          type="text"
          ng-model="login.resetData.resetToken"
          disabled
        >
      </md-input-container> -->

      <!-- Password -->
      <md-input-container class="md-icon-float">
        <label translate="NEW_PASSWORD"></label>
        <md-icon>lock</md-icon>
        <input
          type="password"
          ng-model="login.resetData.newPassword"
        >
      </md-input-container>

      <!-- Password confirm -->
      <md-input-container class="md-icon-float">
        <label translate="CONFIRM_PASSWORD"></label>
        <md-icon>lock_outline</md-icon>
        <input
          type="password"
          ng-model="login.resetData.confirmPassword"
        >
      </md-input-container>


      <!-- Buttons -->
      <md-button
        type="submit"
        class="md-raised md-primary md-mobilot"
        ng-disabled="login.disableResetPasswordButton"
      >
        <span translate="CHANGE_PASSWORD"></span>
      </md-button>
    </form>
  </md-content>
</div>
