<div ng-app="Profile">

  <md-content
    class="header-content"
    layout="column"
    layout-padding
    layout-fill
    ng-class="{ 'ios-top-margin': profile.isCordovaIos }"
  >
    <h2 class="bottomless" translate="USER_PROFILE"></h2>

    <div layout="row" class="section">
      <div layout="column">
        <div layout="row">
          <md-input-container class="md-icon-float">
            <label translate="USER_NAME"></label>
            <md-icon>person</md-icon>

            <input
              ng-model="profile.currentUser.username"
              style="color: #3797c4"
              disabled
            >
          </md-input-container>
        </div>

        <div
          layout="row"
          ng-if="profile.isChangePassword"
        >
          <md-icon style="color: black; margin-top: 26px">lock</md-icon>

          <md-input-container style="margin-left: 0.8em; padding-bottom: 0">
            <label translate="CURRENT_PASSWORD"></label>
            <input
              type="password"
              id="currentPasswordInput"
              ng-model="profile.changePasswordData.oldPassword"
            >
          </md-input-container>

          <md-input-container style="padding-bottom: 0">
            <label translate="NEW_PASSWORD"></label>
            <input
              type="password"
              ng-model="profile.changePasswordData.newPassword"
            >
          </md-input-container>
        </div>

        <div layout="row">
          <md-button
            md-no-ink
            class="md-primary"
            ng-class="{ 'md-raised': profile.isChangePassword }"
            arial-label="Change password"
            ng-click="profile.changePassword()"
          >
            <span translate="CHANGE_PASSWORD"></span>
          </md-button>

          <md-button
            arial-label="Cancel"
            ng-click="profile.cancelChangePassword()"
            ng-if="profile.isChangePassword"
          >
            <span translate="CANCEL"></span>
          </md-button>
        </div>
      </div>
    </div>

    <md-input-container>
      <label translate="LANGUAGE_SELECTION"></label>
      <md-select ng-model="profile.language" md-on-close="profile.selectLanguage()">
        <md-option ng-value="short" ng-repeat="(lang, short) in profile.availableLanguages " translate="{{lang}}"></md-option>
      </md-select>
    </md-input-container>

    <div layout="row" class="section section-darker">
      <md-button
        class="md-raised md-warn"
        aria-label="Logout"
        ng-click="profile.logout()"
      >
        <span translate="LOGOUT"></span>
      </md-button>
    </div>
  </md-content>
</div>
