<md-sidenav
  class="md-sidenav-left"
  style="position : fixed"
  layout="column"
  md-component-id="menu"
>
  <style>
    .menuLogin,
    .menuDivider
    {
      background : {{ menu.config.background }};
      color      : {{ menu.config.foreground }};
    }
  </style>

  <div
    class="menuLogin"
    layout="row"
    layout-padding>

    <md-button
      flex="{{ menu.profile.flex }}"
      class="md-raised"
      aria-label="Login"
      ng-click="menu.goToProfile()"
    >
      <md-icon>account_circle</md-icon>
      <span ng-class="menu.myFont">
        {{ menu.currentUser.username }}
      </span>
    </md-button>

    <!-- Logout Button -->
    <md-button
      flex
      class="md-raised"
      ng-class="{ 'md-warn' : menu.isLoggedIn }"
      ng-click="menu.loginLogoutButtonClick()"
      ng-if="menu.isLoggedIn">

      <md-icon>exit_to_app</md-icon>
    </md-button>
  </div>

  <md-list ng-class="menu.myFont">
    <!-- Mobidul Menu -->
      <md-list-item
        ng-repeat="item in mobidul.menu"
        ng-click=" ! item.isDivider ? mobidul.switchContent( item ) : null"
        ng-class="item.isDivider ? 'menuDivider menuDividerEmpty' : ''"
        class="md-list-item"
      >
        <span ng-if="! item.isDivider">{{ item.text }}</span>
      </md-list-item>
    <md-list-item
        ng-if="menu.isRallyMode"
        ng-click="menu.resetRally()"
    >
      <span>Rally zurücksetzen</span>
    </md-list-item>

    <!-- Admin area -->
    <div ng-if="menu.currentUser.role > 0">
      <md-list-item class="menuDivider">
        <span>Admin</span>
      </md-list-item>

      <md-list-item ng-click="mobidul.switchAdminContent( 0 )">
        <span>Alle Stationen</span>
      </md-list-item>
      <md-list-item ng-click="mobidul.switchAdminContent( 1 )">
        <span>Neue Station</span>
      </md-list-item>
      <md-list-item
        ng-if="menu.currentUser.role == 1"
        ng-click="mobidul.switchAdminContent( 2 )"
      >
        <span>Mobidul Optionen</span>
      </md-list-item>
    </div>


    <!-- Common area -->
    <md-list-item
      class="menuDivider menuDividerEmpty"
      ng-show="menu.isLastDividerEnabled">
    </md-list-item>

    <md-list-item
      ng-click="mobidul.switchState('home')"
      ng-show="menu.isGoToHomeEnabled">

      <span>Mobidulauswahl</span>
    </md-list-item>

    <md-list-item
      ng-click="mobidul.switchState('mobidul.about')"
      ng-show="menu.isGoToAboutEnabled">

      <span>Über Mobilot</span>
    </md-list-item>
  </md-list>
</md-sidenav>
