<md-sidenav
  md-component-id="menu"
  class="md-sidenav-left"
  layout="column"
  style="position: fixed"
>
  <div
    class="menu-login"
    layout="row"
    layout-padding
    ng-class="{ 'ios-top-padding' : menu.isCordovaIos }"
  >
    <md-button
      flex="{{ menu.profile.flex }}"
      class="md-raised"
      aria-label="Login"
      ng-click="menu.goToProfile()"
    >
      <md-icon>account_circle</md-icon>
      <span ng-class="menu.myFont">
        {{ menu.currentUser.username }}
      </span>
    </md-button>

    <!-- Logout Button -->
    <md-button
      flex
      class="md-raised"
      ng-class="{ 'md-warn' : menu.isLoggedIn }"
      ng-click="menu.loginLogoutButtonClick()"
      ng-if="menu.isLoggedIn"
    >
      <md-icon>exit_to_app</md-icon>
    </md-button>
  </div>

  <md-list ng-class="menu.myFont">
    <!-- Mobidul Menu -->
    <md-list-item
      class="md-list-item"
      ng-repeat="item in mobidul.menu"
      ng-click=" ! item.isDivider ? mobidul.switchContent( item ) : null"
      ng-class="item.isDivider ? 'menuDivider menuDividerEmpty' : ''"
    >
      <md-icon ng-if="item.href === 'map'">map</md-icon>
      <md-icon ng-if="item.func === 'getForCategory'">group_work</md-icon>
      <md-icon ng-if="item.href !== 'map' && item.func === 'switchcontent'">location_on</md-icon>
      <span flex ng-if="! item.isDivider">{{ item.text }}</span>
    </md-list-item>

    <md-list-item
      ng-if="menu.isRallyMode"
      ng-click="menu.resetRally()"
    >
      <md-icon>layers_clear</md-icon>
      <span flex translate="RESET_RALLY"></span>
    </md-list-item>

    <!-- Admin area -->
    <div ng-if="menu.currentUser.role > 0">
      <md-list-item class="menuDivider">
        <span translate="MOBIDUL"></span>
      </md-list-item>

      <md-list-item ng-click="mobidul.switchAdminContent( 0 )">
        <md-icon>view_headline</md-icon>
        <span flex translate="ALL_STATIONS"></span>
      </md-list-item>
      <md-list-item ng-click="mobidul.switchAdminContent( 1 )">
        <md-icon>add_location</md-icon>
        <span flex translate="NEW_STATION"></span>
      </md-list-item>
      <md-list-item
        ng-if="menu.currentUser.role == 1"
        ng-click="mobidul.switchAdminContent( 2 )"
      >
        <md-icon>settings</md-icon>
        <span flex translate="OPTIONS"></span>
      </md-list-item>

      <!-- <md-list-item
        ng-if="menu.currentUser.role == 1"
        ng-click="mobidul.cloneMyMobidul()"
        ng-show="menu.isCloneMobidulEnabled"
      >
        <md-icon>content_copy</md-icon>
        <span flex translate="CLONE"></span>
      </md-list-item> -->
    </div>

    <!-- Join -->
    <md-list-item ng-click="mobidul.scanJoinCode()">
      <md-icon md-svg-src="assets/img/qrcode-scan.svg"></md-icon>
      <span flex translate="JOIN"></span>
    </md-list-item>

    <!-- Common area -->
    <md-list-item
      class="menuDivider menuDividerEmpty"
      ng-show="menu.isLastDividerEnabled">
    </md-list-item>

    <md-list-item
      ng-click="mobidul.switchState('home')"
      ng-show="menu.isGoToHomeEnabled"
    >
      <md-icon>format_list_bulleted</md-icon>
      <span flex translate="MOBIDUL_SELECTION"></span>
    </md-list-item>

    <md-list-item
      ng-click="mobidul.switchState('mobidul.about')"
      ng-show="menu.isGoToAboutEnabled"
    >
      <md-icon>info_outline</md-icon>
      <span flex translate="ABOUT_MOBILOT"></span>
    </md-list-item>
  </md-list>
</md-sidenav>
