/*************
 *   Fonts   *
 *************/

@font-face {
  font-family: 'My Font Druckschrift95';

  src: url('../font/druckschrift-webfont.eot'); /* IE9 Compat Modes */
  src: url('../font/druckschrift-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/druckschrift-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../font/druckschrift-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../font/druckschrift-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../font/druckschrift-webfont.svg#denseRegular') format('svg'); /* Legacy iOS */
}
/*.font--default {}*/
.font--druckschrift95 {
  font-family: 'My Font Druckschrift95', Roboto, 'Helvetica Neue', sans-serif;
  /*font-size: 1.4em;*/
  /* NOTE this doesn't seem to do anything ! */
  font-weight: 400;
}

.hidden {
  display: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;

  height: 0;

  content: '.';
}

p {
  margin: 0;
}

.center {
  text-align: center;
}
.bottomless {
  margin-bottom: 0;
  padding-bottom: 0;
}

.white-color {
  color: #fff !important;
}
.lightgray-color {
  color: #eee !important;
}
.md-mobilot-color,
.url-field {
  color: #3797c4 !important;
}
.mobidul-url-field {
  width: auto;
  margin-bottom: 0;
}

.section {
  margin-top: 1em;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #eee;
}
.section-darker {
  margin-bottom: 2em;

  background: #ccc;
}

.section-title {
  margin-bottom: 0;

  color: #3797c4;
}

.sortable-list {
  padding-left: 0;

  list-style: none;
}
.sortable-list li {
  padding-right: 0 !important;
}

.helper {
  font-size: 0.8em;

  color: #808080;
}
.url-helper {
  font-size: 0.8em;

  margin-top: 0;
  padding-top: 0;

  cursor: default;

  color: #3797c4;
}
.url-helper div {
  float: left;

  padding: 1px 2px;
}
.codePreview {
  outline: 0;
}
.codePreview .stationCode {
  cursor: pointer;

  color: gray;
  border-radius: 3px;
}
.codePreview .stationCode:hover {
  background-color: #ccc;
}
.codePreviewIcon {
  font-size: 12px;
}
.codeHelperText {
  font-size: 0.7em;
}



@media screen and (min-width: 380px) {
  .helper,
  .url-helper {
    font-size: 0.9em;
  }
}
.dangerous {
  font-weight: bold;

  margin-bottom: 0.2em;

  color: darkred;
}


/**************
 *   LAYOUT   *
 **************/

@media (max-width: 599px) {
  .layout-sm-column {
            flex-direction: column;

    -webkit-flex-direction: column;
        -ms-flex-direction: column;
  }
}

#appLoader {
  position: fixed;
  z-index: 99; /* problems */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding-top: 20%;

  background: white;
}
#appLoader .loading-title,
#list_progress_wrapper .loading-title {
  font-weight: 300;

  padding-top: 1em;
  padding-bottom: 1em;
}

.md-mobilot {
  background: #3797c4 !important;
}
.md-loading {
  background: #f7602d !important;
}
.md-ghost {
  background: ghostwhite !important;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background-color: #3797c4;
}

.accuracy-ribbon {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;

  position: fixed;
  right: 96px;
  bottom: 30px;

  overflow: hidden;

  padding: 8px;

  -webkit-user-select: none;
  text-align: center;

  opacity: 0;
  color: black;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: white;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;

  direction: ltr;
}
.accuracy-ribbon-animate {
  -webkit-transition: opacity 0.2s ease-in-out;
     -moz-transition: opacity 0.2s ease-in-out;
          transition: opacity 0.2s ease-in-out;

  opacity: 1;
}

.custom-wysiwyg-button {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
  line-height: 36px;

  display: inline;

  box-sizing: border-box;
  width: auto;
  height: auto;
  min-height: 30px;
  max-height: 30px;
  margin: 3px 2px;

  cursor: pointer;
  -webkit-user-select: none;
  text-align: center;
  white-space: nowrap;
  text-indent: 0;
  letter-spacing: 0.14px;
  word-spacing: 0;
  text-transform: uppercase;

  color: white;
  text-shadow: none;

  -webkit-font-smoothing: antialiased;
}


/************
 *   HOME   *
 ************/

#home_mobidule_view {
  position: fixed;
  top: 156px;
  bottom: 0;

  width: 100%;
}
#home_list_mobidule {
  padding-top: 0;
  padding-bottom: 56px;
}
/*#home_list_mobidule md-list-item {
  color: #3797c4
}*/

#home_login_view {
  width: 100%;
}

#homeProgressCircular {
  margin: 7em auto;
}

/*#home_speed_dial {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: transparent;
}*/

#home_controls {
  position: fixed;
  bottom: 0;

  width: 100%;
  height: 56px;
}
#home_create_button,
#home_play_button {
  color: white;
  /*background: #3797c4;*/
  background: rgba(55, 151, 196, 0.9) !important;
}
#home_create_button:hover,
#home_play_button:hover {
  background: #3797c4 !important;
}

.mobidul-color-wrapper {
  float: left;

  width: 26px;
  height: 26px;
  margin-right: 1em;

  border-radius: 13px;
}
.mobidulCard {
  overflow: hidden;

  width: 100%;
  height: 100px;
  padding: 0.8em 1.6em;

  cursor: pointer;
  text-decoration: none;

  border-bottom: 1px solid lightgray;
}
.stdLink {
  font-weight: 300;

  cursor: pointer;

  color: #3049d1;
}


/************
 *   LIST   *
 ************/

#list_stations_view {
  position: fixed;
  /* 56px header height + 52px search field height */
  top: 108px;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
}

#list_stations {
  width: 100%;
  height: 100%;
  padding-top: 0;
}

#list_progress_wrapper {
  position: fixed;
  /* 56px header height + 52px search field height */
  top: 108px;

  width: 100%;
}
#list_progress_wrapper .loading-title {
  font-size: 1.2em;
}

.header-list-tabs-content {
  top: 56px;
}

.station-item {
  color: #3797c4;
}
.station-odd {
  color: #78b2ce;
  background: #eee;
}

.stdLink {
  font-weight: 300;

  cursor: pointer;
  text-decoration: none;

  color: black;
}

.secondary-icon {
  font-size: 1.6em;

  color: black;
}


/***************
 *   PROFILE   *
 ***************/

#profile_language_selection {
  width: 100%;
  margin-bottom: 10px;
}

#profile_change_password {
  color: #fff;
}

/*.password-input md-icon {
  margin-top: 26px;
}
.password-input md-input-container {
  margin-left: 0.8em;
  padding-bottom: 0;
}*/


/************
 *   PLAY   *
 ************/

#play_view {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
}



/*******************/

md-toolbar,
.md-toolbar-tools {
  height: 56px;
  min-height: 56px;
}
.header-content {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-tabs-content {
  top: 7em;
}

.search-type-controls {
  position: fixed;
  z-index: 1;
  top: 56px;

  width: 100%;

  background: white;
}
.search-field {
  display: block;

  margin: 20px 0.8em 0;
  padding-bottom: 0;
}

/*** map ***/

map {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
}
.ng-map {
  top: 104px;
}

#station_creator_divider {
  margin-top: 0.5em;
  margin-bottom: 1em;

  opacity: 0.2;
  color: #3797c4;
  border: 0.05em solid;
  background-color: #95b7d4;
}

#station_creator_tabs {
  position: fixed;
  z-index: 1;
  top: 56px;
  right: 0;
  left: 0;

  width: 100%;

  background: #fff;
}

#station_creator_tabs .md-tab,
#editortabs .md-tab {
  font-size: 12px;

  padding-right: 12px;
  padding-left: 12px;
}

@media screen and (min-width: 420px) {
  #station_creator_tabs .md-tab,
  #editortabs .md-tab {
    font-size: 14px;

    padding-right: 24px;
    padding-left: 24px;
  }
}

.station-creator-content {
  position: fixed;
  /* 56px header height + 48px station_creator_tabs height */
  top: 104px;
  right: 0;
  bottom: 0;
  left: 0;
}

#creator_tabs {
  position: fixed;
  z-index: 1;
  top: 56px;
  right: 0;
  left: 0;

  width: 100%;

  background: #fff;
}

.creator-content {
  position: fixed;
  /* 56px header height + 48px station_creator_tabs height */
  top: 104px;
  right: 0;
  bottom: 0;
  left: 0;
}
.creator-content-new {
  top: 56px;
}


#station_creator_name {
  font-size: 2em;
  font-weight: bold;

  display: block;

  height: 42px;

  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}


.creator-input-container {
  padding-bottom: 0.8em;
}

.creator-list-delete-item-controls {
  padding-top: 1em;
}
.creator-list-delete-item-controls .md-icon-button {
  padding-right: 0;
}

.creator-list-delete-item-controls .md-icon-drag {
  margin-top: 7px;
  margin-right: 15px;
  margin-left: 3px;
}

.tinyeditor {
  padding: 0;

  border: 0;
}

.tinyeditor .sizer {
  min-height: 0;
  margin-bottom: 2.5em;
}

editor {
  display: block;
}

#editortabs {
  height: 100%;
}

#editortabs,
#editortabs md-tabs-content-wrapper,
#editortabs md-tab-content {
  overflow: visible;
}

#editortabs md-tab-content {
  display: none;
}

#editortabs md-tab-content.md-active {
  display: inline;
}

#editortabs ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

#editortabs.station-editor-tab-default-mobidul md-tabs-canvas {
  display: none;
}

#editortabs.station-editor-tab-default-mobidul md-tabs-content-wrapper {
  top: 0;
}

md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
  color: #3797c4;
  background: #3797c4;
}

editor-tools {
  display: block;
  overflow: hidden;
  overflow-x: scroll;
}

@media screen and (min-width: 675px) {
  editor-tools {
    overflow: visible;

    margin-bottom: 0.5em;
  }
}

editor-tools div {
  height: 48px;
  padding-bottom: 10px;

  white-space: nowrap;
}

.editor-add-button {
  display: inline-block;

  min-width: 0;
  /*width: 50px;*/
  padding: 0;
}

span.button-label {
  font-size: 8px;
  font-weight: 500;
  line-height: normal;

  display: block;

  margin-top: -4px;
}

element-container {
  position: relative;

  display: block;

  margin-bottom: 1em;
  padding: 0 1em 0.5em;

  border: solid 1px grey;
}

.selected element-container {
  border: none;
}

.tinyeditor {
  display: none;
}

.editor-preview {
  display: block;
}

.selected .editor-preview {
  display: none;
}

.selected .tinyeditor {
  display: block;
}

.config-part {
  display: none;
}

.selected .config-part {
  display: block;
}

.preview {
  display: block;
}

.selected .preview {
  display: none;
}

.editor-element-opt-container {
  margin-bottom: 6px;
  padding-bottom: 6px;

  border-bottom: 1px solid grey;
}

.editor-element-opt {
  display: inline-block;

  width: 25%;
  min-width: 0;
  margin: 0;
  padding: 0;
}

element-container md-input-container {
  display: block;
}

element-container mbl-input-code md-input-container {
  display: inline-block;
}


/*.save-basis-progress {
  position : absolute;
  top      : -7px;
  left     : -6px;
}*/

.md-dialog-content-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}


/*** menu (sidenav) ***/

md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

.menu-login {
  height: 56px;
  min-height: 56px;
  padding-top: 4px;
}
.ios-menu-login {
  height: 76px;
  min-height: 76px;
}
.menu-login button {
  padding: 0 !important;
}

.menu-login,
.menuDivider {
  color: #fff;
  background: rgb(55, 151, 196);
}
.menuDividerEmpty {
  min-height: 1.2em;
}
.menuDividerEmpty::before {
  content: none;
}
.menuDivider button.md-button:not([disabled]):hover {
  background: #bbb;
}

.md-list-item span {
  line-height: 1.4em;
}

.inputWhiteFont {
  color: #fff !important;
}

.md-mini {
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
}

/*
    Radio Buttons
*/

md-radio-button .md-off,
md-radio-button.md-checked .md-off {
  border-color: #3797c4;
}

md-radio-button .md-on {
  background-color: #3797c4;
}

/*
    Progress Bar
*/
.progressbar {
  margin: 0 auto;
  padding: 0;

  counter-reset: step;
}

mbl-station-progress > div {
  overflow-x: scroll;
  overflow-y: hidden;

  width: 100%;
}

mbl-station-progress > div::-webkit-scrollbar {
  display: none;
}

.progressbar li {
  width: 80px;
}

.progressbar[data-progtrckr-steps='2'] li {
  width: 49%;
}
.progressbar[data-progtrckr-steps='3'] li {
  width: 33%;
}
.progressbar[data-progtrckr-steps='4'] li {
  width: 24%;
}
.progressbar[data-progtrckr-steps='5'] li {
  width: 19%;
}
.progressbar[data-progtrckr-steps='6'] li {
  width: 16%;
}
.progressbar[data-progtrckr-steps='7'] li {
  width: 14%;
}
.progressbar[data-progtrckr-steps='8'] li {
  width: 12%;
}
.progressbar[data-progtrckr-steps='9'] li {
  width: 11%;
}
.progressbar[data-progtrckr-steps='10'] li {
  width: 10%;
}
.progressbar li {
  font-size: 0.8rem;

  position: relative;

  float: left;

  list-style-type: none;

  text-align: center;
  text-transform: uppercase;

  color: #7d7d7d;
}
.progressbar li:before {
  line-height: 28px;

  position: relative;
  z-index: 1;

  display: block;

  width: 30px;
  height: 30px;
  margin: 0 auto 10px auto;

  content: counter(step);
  counter-increment: step;
  text-align: center;

  border: 2px solid #7d7d7d;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  position: absolute;
  z-index: 0;
  top: 15px;
  left: -50%;

  width: 100%;
  height: 2px;

  content: '';

  background-color: #7d7d7d;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.current {
  color: green;
}
.progressbar li.current:before {
  border-color: #55b776;
}
.progressbar li.active + li:after {
  background-color: #55b776;
}

li:focus {
  outline: none;
}


/**
 * Rally Directives
 */

#station_container p {
  margin-top: 1em;
  margin-bottom: 1em;
}

mbl-html-container {
  display: block;
}

mbl-html-container .picture,
mbl-html-container img {
  max-width: 100%;
}

positionicon {
  display: block;
}

positionicon .material-icons {
  float: right;

  margin-right: 0.5em;
}


.search-anim {
  animation: searching 2s infinite;
  text-align: center;
}

@keyframes searching {
  0% {
    font-size: 2.1em;

    color: #3eb5e4;
  }
  50% {
    font-size: 1.9em;

    color: #3797c4;
  }
  100% {
    font-size: 2.1em;

    color: #3eb5e4;
  }
}

mbl-free-text-input textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
}

/**
 * iOS specific styles
 */
.ios-top-padding {
  padding-top: 20px;
}
.ios-top-margin {
  margin-top: 20px;
}
.ios-no-top-margin {
  margin-top: 0;
}
.ios-md-toolbar {
  height: 76px;
}


.as-sortable-item,
.as-sortable-placeholder {
  padding-right: 5% !important;

  border: none !important;
}

.as-sortable-item,
.as-sortable-dragging {
  border: none;
}

.sortable-list {
  padding-left: 0;

  list-style: none;
}
.sortable-list li {
  padding-right: 0 !important;
}



/************Drag and Drop List****************/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
  min-height: 42px;
  padding-left: 0;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
  display: block;

  min-height: 32px;

  background-color: #ddd;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul[dnd-list] li {
  display: block;

  margin-bottom: -1px;
  padding: 5px 15px;

  border: 1px solid #ddd;
  background-color: #fff;
}

#list_stations ul[dnd-list] > li,
#editortabs ul[dnd-list] > li {
  margin: 0;
  padding: 0;

  border: none;
}

/**
 * Show selected elements in green
 */
ul[dnd-list] .selected {
  color: #808080;
  background-color: #c3dae6;
}


/*********   About Page   *************/

/**
 * Basic table element
 */
.tg {
  margin: 0 auto;

  border-spacing: 0;
  border-collapse: collapse;

  border: 1px solid #ccc;
}

/**
 * Table data elements
 */
.tg td {
  overflow: hidden;

  padding: 10px 5px;

  word-break: normal;

  color: #333;
  border: 0 solid #ccc;
  background-color: #fff;
}

/**
 * Table header element
 */
.tg th {
  font-weight: bold;

  overflow: hidden;

  padding: 10px 5px;

  word-break: normal;

  color: #3797c4;
  border: 0 solid #ccc;
  background-color: #f9f9f9;
}

/**
 * Special table classes
 */
.tg .tg-rc10 {
  font-size: small;
  font-weight: bold;

  background-color: #f9f9f9;
}

.tg .tg-4eph {
  font-size: smaller;

  background-color: #f9f9f9;
}

.tg .tg-8col {
  font-size: smaller;
  font-style: italic;

  background-color: #f9f9f9;
}
