/*************
 *   Fonts   *
 *************/

@font-face {
  font-family: 'My Font Druckschrift95';
  src: url('../font/druckschrift-webfont.eot'); /* IE9 Compat Modes */
  src: url('../font/druckschrift-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/druckschrift-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/druckschrift-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../font/druckschrift-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/druckschrift-webfont.svg#denseRegular') format('svg'); /* Legacy iOS */
}
/*.font--default {}*/
.font--druckschrift95 {
  font-family: 'My Font Druckschrift95', Roboto, 'Helvetica Neue', sans-serif;
  /*font-size: 1.4em;*/
  /* NOTE this doesn't seem to do anything ! */
  font-weight: 400;
}

.hidden { display: none }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

p { margin: 0; }

.bottomless {
  padding-bottom: 0;
  margin-bottom: 0;
}

.white-color {
  color: #fff !important
}
.md-mobilot-color,
.url-field {
  color: #3797c4 !important
}
.mobidul-url-field {
  margin-bottom: 0;
  width: auto;
}

.section {
  background-color: #eee;
  margin-top: 1em;

  -webkit-border-radius : 4px;
  -moz-border-radius    : 4px;
  border-radius         : 4px;
}
.section-darker {
  background: #ccc;
  margin-bottom: 2em;
}

.section-title {
  margin-bottom : 0;
}

.helper {
  color     : #808080;
  font-size : 0.8em;
}
.url-helper {
  color       : #3797c4;
  font-size   : 0.8em;
  padding-top : 0;
  margin-top  : 0;
}

@media screen and (min-width: 380px) {
  .helper, .url-helper {
    font-size: 0.9em;
  }

  .center {
    text-align: center
  }
}
.dangerous {
  color        : darkred;
  font-weight    : bold;
  margin-bottom  : 0.2em;
}


/**************
 *   LAYOUT   *
 **************/

@media (max-width: 599px){
  .layout-sm-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#appLoader {
  width       : 100%;
  height      : 100%;
  top         : 0;
  left        : 0;
  right       : 0;
  bottom      : 0;
  background  : white;
  padding-top : 20%;
  position    : fixed;
  z-index     : 99; /* problems */
}
#appLoader .loading-title,
#list_progress_wrapper .loading-title {
  font-weight    : 300;
  padding-top    : 1em;
  padding-bottom : 1em;
}

.md-mobilot {
  background : #3797c4 !important
}
.md-loading {
  background : #f7602d !important
}
.md-ghost {
  background : ghostwhite !important
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
  background-color: #3797c4;
}

.accuracy-ribbon {
  position    : fixed;
  bottom      : 30px;
  right       : 96px;
  color       : black;
  font-family : Roboto, Arial, sans-serif;
  font-size   : 13px;
  direction   : ltr;
  text-align  : center;
  padding     : 8px;
  opacity     : 0;
  overflow    : hidden;

  -webkit-user-select     : none;
  -webkit-background-clip : padding-box;

  -webkit-border-radius : 2px;
  -moz-border-radius     : 2px;
  border-radius       : 2px;

  box-shadow       : rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  background-color : white;
  background-clip  : padding-box;
}
.accuracy-ribbon-animate {
  opacity : 1;

  transition         : opacity .2s ease-in-out;
  -moz-transition    : opacity .2s ease-in-out;
  -webkit-transition : opacity .2s ease-in-out;
}

.custom-wysiwyg-button {
  color: white;
  min-height: 30px;
  margin: 3px 2px;
  max-height: 30px;

  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.14px;
  line-height: 36px;
  text-align: center;
  text-indent: 0px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
  width: auto;
  word-spacing: 0px;
}


/************
 *   HOME   *
 ************/

#home_mobidule_view {
  position: fixed;
  width: 100%;
  top: 156px;
  bottom: 0;
}
#home_list_mobidule {
  padding-top: 0;
  padding-bottom: 56px;
}
/*#home_list_mobidule md-list-item {
  color: #3797c4
}*/

#home_login_view {
  width: 100%
}

#homeProgressCircular {
  margin: 7em auto
}

/*#home_speed_dial {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: transparent;
}*/

#home_controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 56px;
}
#home_create_button,
#home_play_button {
  color: white;
  /*background: #3797c4;*/
  background: rgba(55, 151, 196, 0.9) !important;
}
#home_create_button:hover,
#home_play_button:hover {
  background: #3797c4 !important
}

.mobidul-color-wrapper {
  width: 26px;
  height: 26px;
  float: left;

  border-radius: 13px;
  margin-right : 1em;
}
.mobidulCard {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid lightgray;
  padding: 0.8em 1.6em;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
}
.stdLink {
  color: #3049D1;
  cursor: pointer;
  font-weight: 300;
}


/************
 *   LIST   *
 ************/

#list_stations_view {
  position: fixed;
  width: 100%;
  /* 56px header height + 52px search field height */
  top: 108px;
  left: 0;
  right: 0;
  bottom: 0;
}

#list_stations {
  width: 100%;
  height: 100%;
  padding-top: 0;
}

#list_progress_wrapper {
  position: fixed;
  width: 100%;
  /* 56px header height + 52px search field height */
  top: 108px;
}
#list_progress_wrapper .loading-title {
  font-size: 1.2em
}

.header-list-tabs-content {
  top: 56px
}

.station-item {
  color: #3797c4
}
.station-odd {
  color: #78B2CE;
  background: #eee;
}

.stdLink {
  color: black;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.secondary-icon {
  color: black;
  font-size: 1.6em;
}


/***************
 *   PROFILE   *
 ***************/

#profile_language_selection {
  width: 100%;
  margin-bottom: 10px;
}

#profile_change_password {
  color: #fff;
}


/************
 *   PLAY   *
 ************/

#play_view {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
}



/*******************/

md-toolbar,
.md-toolbar-tools {
  height: 56px;
  min-height: 56px;
}
.header-content {
  position : fixed;
  top      : 56px;
  left     : 0;
  right    : 0;
  bottom   : 0;
}
.header-tabs-content {
  top: 7em
}

.search-type-controls {
  position   : fixed;
  top        : 56px;
  width      : 100%;
  background : white;
  z-index    : 1;
}
.search-field {
  margin: 20px 0.8em 0;
  padding-bottom: 0;
  display: block;
}

/*** map ***/

map {
  position : fixed;
  top      : 56px;
  bottom   : 0;
  left     : 0;
  right    : 0;
}
.ng-map {
  top: 104px;
}


#station_creator_tabs {
  position   : fixed;
  width      : 100%;
  top        : 56px;
  left       : 0;
  right      : 0;
  background : #fff;
  z-index    : 1;
}

#station_creator_tabs .md-tab,
#editortabs .md-tab {
  font-size: 12px;
  padding-right: 12px;
  padding-left: 12px;
}

@media screen and (min-width: 420px) {
  #station_creator_tabs .md-tab,
  #editortabs .md-tab {
    font-size: 14px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

.station-creator-content {
  position : fixed;
  /* 56px header height + 48px station_creator_tabs height */
  top      : 104px;
  left     : 0;
  right    : 0;
  bottom   : 0;
}

#creator_tabs {
  position   : fixed;
  width      : 100%;
  top        : 56px;
  left       : 0;
  right      : 0;
  background : #fff;
  z-index    : 1;
}

.creator-content {
  position : fixed;
  /* 56px header height + 48px station_creator_tabs height */
  top      : 104px;
  left     : 0;
  right    : 0;
  bottom   : 0;
}
.creator-content-new {
  top : 56px;
}


#station_creator_name {
  display: block;
  height: 42px;
  font-size: 2em;
  font-weight: bold;

  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


.creator-input-container {
  padding-bottom : 0.8em
}

.creator-list-delete-item-controls {
  padding-top : 1em
}
.creator-list-delete-item-controls .md-icon-button {
  padding-right : 0
}

.tinyeditor {
  padding : 0;
  border  : 0;
}

.tinyeditor .sizer {
  min-height: 0px;
  margin-bottom: 2.5em;
}

editor{
  display: block;
}

#editortabs {
  height: 100%;
}

#editortabs,
#editortabs md-tabs-content-wrapper,
#editortabs md-tab-content {
  overflow: visible;
}

#editortabs md-tab-content {
  display: none;
}

#editortabs md-tab-content.md-active {
  display: inline;
}

#editortabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
  color: #3797c4;
  background: #3797c4;
}

editor-tools {
  overflow: hidden;
  overflow-x: scroll;
  display: block;
}

@media screen and (min-width: 675px) {
  editor-tools {
    overflow: visible;
    margin-bottom: 0.5em;
  }
}

editor-tools div {
  height:48px;
  width:675px;
}

.editor-add-button {
  min-width: 0;
  /*width: 50px;*/
  padding: 0;
  display: inline-block;
}

span.button-label{
  font-size: 8px;
  display: block;
  font-weight: 500;
  line-height: normal;
  margin-top: -4px;
}

element-container {
  border: solid 1px grey;
  display: block;
  position: relative;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

.selected element-container {
  border: none;
}

.tinyeditor {
  display: none;
}

.editor-preview {
  display: block;
}

.selected .editor-preview {
  display: none;
}

.selected .tinyeditor {
  display: block;
}

.config-part {
  display: none;
}

.selected .config-part {
  display: block;
}

.preview {
  display: block;
}

.selected .preview {
  display: none;
}

.editor-element-opt-container {
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

.editor-element-opt {
  display: inline-block;
  width: 33%;
  padding: 5px;
  margin: 0;
}

element-container md-input-container {
  display: block;
}

element-container mbl-input-code md-input-container {
  display: inline-block;
}


.save-basis-progress {
  position : absolute;
  top      : -7px;
  left     : -6px;
}

.md-dialog-content-divider {
  border-top : 1px solid rgba(0, 0, 0, 0.12)
}


/*** menu (sidenav) ***/

md-backdrop.md-sidenav-backdrop {
  position: fixed
}

.menu-login button {
  padding: 0 !important
}

.menu-login,
.menuDivider {
  background: #ccc;
}
.menuDividerEmpty {
  min-height: 1.2em;
}
.menuDivider button.md-button:not([disabled]):hover {
  background: #bbb;
}

.md-list-item span {
  line-height: 1.4em;
}

/*
    Radio Buttons
*/

md-radio-button .md-off,
md-radio-button.md-checked .md-off{
  border-color: #3797c4;
}

md-radio-button .md-on{
  background-color: #3797c4;
}

/*
    Progress Bar
*/
.progressbar {
  margin: 0 auto;
  padding: 0;
  counter-reset: step;
}

mbl-station-progress > div {
  overflow-y:hidden;
  overflow-x: scroll;
  width:100%;
}

mbl-station-progress > div::-webkit-scrollbar{
  display: none;
}

.progressbar li{
  width: 80px;
}

.progressbar[data-progtrckr-steps="2"] li {
  width: 49%;
}
.progressbar[data-progtrckr-steps="3"] li {
  width: 33%;
}
.progressbar[data-progtrckr-steps="4"] li {
  width: 24%;
}
.progressbar[data-progtrckr-steps="5"] li {
  width: 19%;
}
.progressbar[data-progtrckr-steps="6"] li {
  width: 16%;
}
.progressbar[data-progtrckr-steps="7"] li {
  width: 14%;
}
.progressbar[data-progtrckr-steps="8"] li {
  width: 12%;
}
.progressbar[data-progtrckr-steps="9"] li {
  width: 11%;
}
.progressbar[data-progtrckr-steps="10"] li {
  width: 10%;
}
.progressbar li {
  list-style-type: none;
  float: left;
  font-size: .8rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 28px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: 0;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.current {
  color: green;
}
.progressbar li.current:before {
  border-color: #55b776;
}

.progressbar li.active + li:after {
  background-color: #55b776;
}

li:focus{
    outline:none;
}


/*
  Rally Directives
*/

#station-container p {
  margin-bottom: 1em;
  margin-top: 1em;
}

html-container {
  display: block;
}

html-container img {
  max-width:100%;
}

positionicon {
  display: block;
}

positionicon .material-icons {
  float: right;
  margin-right: 0.5em;
}


.search-anim {
  animation: searching 2s infinite;
  text-align: center;
}

@keyframes searching {
  0% {
    color: #3eb5e4;
    font-size: 2.1em;
  }
  50% {
    color: #3797c4;
    font-size: 1.9em;
  }
  100% {
    color: #3eb5e4;
    font-size: 2.1em;
  }
}

mbl-free-text-input textarea{
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}

/**
 * iOS specific styles
 */
.ios-top-padding {
  padding-top: 20px
}
.ios-top-margin {
  margin-top: 20px
}
.ios-no-top-margin {
  margin-top: 0
}



/************Drag and Drop List****************/
/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
ul[dnd-list],
ul[dnd-list] > li {
  position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
ul[dnd-list] {
  min-height: 42px;
  padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  min-height: 32px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul[dnd-list] li {
  background-color: #fff;
  border: 1px solid #ddd;
  display: block;
  padding: 5px 15px;
  margin-bottom: -1px;
}

#list_stations ul[dnd-list] > li,
#editortabs ul[dnd-list] > li{
  padding: 0;
  margin: 0;
  border: none;
}

/**
 * Show selected elements in green
 */
ul[dnd-list] .selected {
  background-color: #c3dae6;
  color: #808080;
}
