<div>

  <!-- StationCreatorController as stationCreator -->

  <md-content
    class="station-creator-content"
    layout-padding
    ng-class="{ 'ios-top-margin': stationCreator.isCordovaIos }"
  >
    <md-input-container class="less-pb-field">
      <label translate="NAME"></label>
      <input
        id="station_creator_name"
        ng-model="stationCreator.station.name"
        ng-keyup="stationCreator.changeName()"
        required>
    </md-input-container>

    <div layout-sm="column">
      <!-- <md-input-container class="less-pb-field">
          <label>Mobidul Link</label>
          <input
          class="url-field mobidul-url-field"
          ng-model="stationCreator.station.link"
          disabled>
        </md-input-container> -->

      <md-input-container class="less-pb-field" flex>
        <label>
          <span translate="STATION_CODE"></span>
          <span ng-show="stationCreator.basis.codeHelper.show">
            - {{ stationCreator.basis.codeHelper.text }}
          </span>
        </label>

        <input
          class="url-field"
          ng-model="stationCreator.station.code"
          ng-keyup="stationCreator.changeCode()"
          maxlength="20"
          required>
        </md-input-container>

      <p class="helper" translate="STATION_LINK_WILL_BE"></p>
      <p class="url-helper">
        <!-- <span>{{ creator.mobidul.link }}</span> -->
        <span>{{ stationCreator._mobilotUrl }}</span>
        <span>/#/</span>
        <span>{{ stationCreator.mobidulCode }}</span>
        <span>/</span>
        <span>{{ stationCreator.codePreview }}</span>
      </p>
    </div>

    <editor
      config="stationCreator.station.content"
      show-station-states="stationCreator.showStationStates">
    </editor>

    <!--
    <textarea
      ng-if="stationCreator.isRally"
      ng-model="stationCreator.station.content"
      rows="20"
      cols="70">
    </textarea>
    <div ng-if="!stationCreator.isRally">
      <p class="helper">Füge Photos hinzu und formatiere diese Station.</p>

      <wysiwyg-edit
        content="stationCreator.station.content"
        api="stationCreator.editorAPI">
      </wysiwyg-edit>
    </div>
    -->
  </md-content>
</div>
