<div>

  <!-- StationCreatorController as stationCreator -->

  <md-content
    class="station-creator-content"
    layout-padding
    ng-class="{ 'ios-top-margin': stationCreator.isCordovaIos }"
  >
    <md-input-container class="less-pb-field" style="margin-bottom: 0">
      <label translate="NAME"></label>
      <input
        id="station_creator_name"
        ng-model="stationCreator.station.name"
        ng-keyup="stationCreator.changeName()"
        required
      >
    </md-input-container>

    <div layout="column" ng-show="stationCreator.editStationCode">
      <md-input-container class="less-pb-field" style="margin-bottom: 0" flex>
        <label>
          <span translate="STATION_CODE"></span>
          <!-- <span ng-show="stationCreator.basis.codeHelper.show">
            - {{ stationCreator.basis.codeHelper.text }}
          </span> -->
        </label>

        <input
          class="url-field"
          ng-model="stationCreator.station.code"
          ng-keyup="stationCreator.changeCode()"
          maxlength="20"
          required>
        </md-input-container>
      </div>

    <div layout="column">
      <p class="helper" translate="STATION_LINK_WILL_BE"></p>
      <div class="url-helper">
        <div>{{ stationCreator._mobilotUrl }}</div>
        <div>/#/</div>
        <div>{{ stationCreator.mobidulCode }}</div>
        <div>/</div>
        <div class="codePreview" ng-click="stationCreator.invokeChangeCode()">
          <span class="stationCode">{{ stationCreator.codePreview }}</span>
          <md-icon class="codePreviewIcon">edit</md-icon>
        </div>
      </div>
      <p class="codeHelperText">
        <span ng-show="stationCreator.basis.codeHelper.show">
          * Station code {{ stationCreator.basis.codeHelper.text }}.
        </span>
      </p>
    </div>

    <editor
      config="stationCreator.station.content"
      show-station-states="stationCreator.showStationStates">
    </editor>

    <!--
    <textarea
      ng-if="stationCreator.isRally"
      ng-model="stationCreator.station.content"
      rows="20"
      cols="70">
    </textarea>
    <div ng-if="!stationCreator.isRally">
      <p class="helper">Füge Photos hinzu und formatiere diese Station.</p>

      <wysiwyg-edit
        content="stationCreator.station.content"
        api="stationCreator.editorAPI">
      </wysiwyg-edit>
    </div>
    -->
  </md-content>
</div>
