<div>

  <!-- StationCreatorController as stationCreator  -->

  <md-content
    class="station-creator-content"
    layout-padding
    ng-class="{ 'ios-top-margin': stationCreator.isCordovaIos }"
  >
    <p class="helper">Stationen können mehreren Kategorien zugeordnet sein.</p>

    <md-list>
      <md-list-item ng-repeat="category in stationCreator.categories">
        <md-checkbox
          class="md-primary"
          ng-model="category.selected">
        </md-checkbox>

        <p>{{ category.name }}</p>
      </md-list-item>
    </md-list>
  </md-content>
</div>
