<div>
  <!-- StationController as station -->

  <md-content
    class="header-content"
    layout-padding
    ng-class="{ 'ios-top-margin': station.isCordovaIos }"
  >
    <div
      ui-view="stationContent"
      ng-class="station.myFont"
    >
      <h1>{{ station.stationName }}</h1>

      <mbl-station-progress
        ng-if="station.rallyLength > 1 && station.isOwner"
        data-current="{{ station.order }}"
        data-length="{{ station.rallyLength }}">
      </mbl-station-progress>

      <div
        layout="column"
        style="margin-bottom: 1em; border-radius: 4px; padding: 1em"
        ng-if="station.isOwner"
      >
        <md-tabs>
          <md-tab
            ng-repeat="state in station.mobidulConfig.states"
            ng-click="station.setRallyState(state)"
            md-active="state == station.currentState"
          >{{'STATE' | translate}} : {{ state | translate}}</md-tab>
        </md-tabs>
      </div>

      <div id="station-container"></div>
    </div>
  </md-content>

  <!-- <md-progress-circular
    md-mode="indeterminate"
    style="display : {{ station.loading }}; margin : auto">
  </md-progress-circular> -->
</div>
