<div>
  <!-- StationController as station -->

  <md-content
    class="header-content"
    layout-padding
  >
    <div
      ui-view="stationContent"
      style="height:100%"
      ng-class="station.myFont"
    >
      <h1>
        {{ station.stationName }}
      </h1>
      <mbl-station-progress ng-if="station.rallyLength > 1 && station.mobidulConfig.showProgress" data-current="{{station.currentStation}}" data-length="{{station.rallyLength}}"></mbl-station-progress>

      <!-- XXX for testing purposes only ! -->
      <div layout="column"
        style="margin-bottom : 1em; background : #eee; border-radius : 4px; padding : 1em"
        ng-if="station.isOwner"
      >
        <span style="text-align : center">~~~&nbsp;&nbsp;&nbsp;Developer's Rally Actions&nbsp;&nbsp;&nbsp;~~~</span>

        <md-button data-ng-click="station.activateThis()"
                   style="background: palevioletred">Activate Station</md-button>

        <div style="text-align: center;">
          <md-button data-ng-repeat="state in station.mobidulConfig.states"
                     data-ng-click="station.setRallyState(state)"
                     style="background: yellowgreen">Status: {{state}}</md-button>
        </div>

        <md-button data-ng-click="station.progressToNext()"
                   style="background: orange">Go To Next Station</md-button>


        <span style="text-align : center">~~~</span>
      </div>


      <div id="station-container"></div>
    </div>
  </md-content>

  <!-- <md-progress-circular
    md-mode="indeterminate"
    style="display : {{ station.loading }}; margin : auto">
  </md-progress-circular> -->
</div>
