<div ng-app="Play">

  <!-- PlayController as play -->

  <style>
    #play_view {
      position: fixed;
      top: 56px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  </style>

  <md-content
    id="play_view"
    layout-padding
    ng-class="{ 'ios-top-margin': play.isCordovaIos }"
  >
    <!-- Mitmach-Code Input -->

    <div class="section">
      <div layout-sm="column">
        <p class="helper" translate="JOIN_CODE_INPUT_DESCRIPTION"></p>
        <br>
      </div>

      <div layout="row" layout-sm="column">
        <md-input-container>
          <label translate="JOIN_CODE"></label>
          <input
            placeholder="Mitmach-Code"
            ng-model="play.code"
            ng-required="true"
            ng-maxlength="6"
          >
        </md-input-container>

        <md-button
          class="md-raised md-primary md-mobilot"
          ng-click="play.join()"
        >
          <span flex>{ 'JOIN' | translate }}</span>
        </md-button>
      </div>
    </div>

    <div class="section section-darker" ng-if="play.isCordova">
      <div layout-sm="column">
        <md-button
          class="md-raised md-primary md-mobilot"
          ng-click="play.scan()"
        >
          <span flex>{ 'SCAN_CODE' | translate }}</span>
        </md-button>
      </div>
    </div>
  </md-content>
</div>
