<md-dialog
    aria-label="Menü Eintrag hinzufügen"
    style="width : 90%; max-width : 36em;">

    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate="MENU_ENTRY"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="padding : 0">
            <md-tabs
                md-selected="creator.menuDialog.selectedIndex"
                md-no-pagination="false"
                md-stretch-tabs="never"
                md-align-tabs="top"
                md-border-bottom="true">

                <md-tab id="tab1">
                    <md-tab-label>{{ 'GENERAL' | translate }}</md-tab-label>
                    <md-tab-body>
                        <div layout="column">
                            <br>
                            <md-button
                                flex
                                class="md-raised md-primary md-mobilot"
                                aria-label="Divider"
                                ng-click="addMenuItem('divider', 0)">
                                <md-icon>vertical_align_center</md-icon>
                                <span translate="ADD_DIVIDER"></span>
                            </md-button>

                            <md-button
                                flex
                                class="md-raised md-primary md-mobilot"
                                aria-label="Karte"
                                ng-click="addMenuItem('map', 0)">
                                <md-icon>map</md-icon>
                                <span translate="ADD_MAP"></span>
                            </md-button>
                        </div>
                    </md-tab-body>
                </md-tab>

                <md-tab id="tab2">
                    <md-tab-label>{{ 'CATEGORIES' | translate }}</md-tab-label>
                    <md-tab-body>
                        <md-list>
                            <md-list-item
                                ng-repeat="category in categories"
                                ng-click="addMenuItem('category', $index)"
                                class="md-list-item">

                                <span>{{ category.name }}</span>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>

                <md-tab id="tab3">
                    <md-tab-label>{{ 'STATIONS' | translate }}</md-tab-label>
                    <md-tab-body>
                        <md-list>
                            <md-list-item
                                ng-repeat="station in stations"
                                ng-click="addMenuItem('station', $index)"
                                class="md-list-item">

                                <span>{{ station.name }}</span>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
    </form>
</md-dialog>
