<div>

  <!-- CreatorController as creator -->

  <md-content
    class="creator-content"
    layout-padding
    ng-class="{
      'creator-content-new' : ! creator.showCreatorTabs,
      'ios-top-margin' : creator.isCordovaIos
    }"
  >
    <p class="helper" ng-show=" ! creator.showCreatorTabs" translate="MOBIDUL_CREATOR_TEXT"></p>

    <md-input-container class="creator-input-container">
      <label translate="NAME"></label>
      <input
        ng-model="creator.mobidul.name"
        ng-keyup="creator.changeName()"
        required
      >
    </md-input-container>

    <div layout="column">
      <md-input-container class="creator-input-container" flex>
        <label>
          <span translate="MOBIDUL_CODE"></span>
          <span ng-show="creator.mobidul.codeHelper.show">
            - {{ creator.mobidul.codeHelper.text }}
          </span>
        </label>

        <input
          ng-model="creator.mobidul.code"
          ng-keyup="creator.changeCode()"
          maxlength="20"
          required
        >
      </md-input-container>

      <p class="helper" translate="MOBIDUL_LINK_WILL_BE"></p>
      <p class="url-helper">
        <span>{{ creator.mobidul.link }}</span>
        <span>/#/</span>
        <span>{{ creator.mobidul.codePreview }}</span>
      </p>
    </div>

    <div layout="column">
      <md-input-container flex>
        <label translate="DESCRIPTION"></label>
        <textarea ng-model="creator.mobidul.description"></textarea>
      </md-input-container>
    </div>

    <md-input-container data-ng-if="creator.isNewMobidul">
      <md-select data-ng-model="creator.mobidul.mode">
        <md-select-header>
          <span translate="MOBIDUL_MODE"></span>
        </md-select-header>
        <md-option data-ng-repeat="mode in creator.modes"
                   data-ng-value="mode.name">{{mode.name}}</md-option>
      </md-select>
    </md-input-container>


    <!-- Save -->

    <div layout="column">
      <md-button
        class="md-raised md-primary md-mobilot"
        ng-click="creator.saveBasis()"
        ng-disabled="creator.canNotSave"
      >
        <!-- TODO: replace save icon with loading spinner, when saving -->
        <!-- <md-icon ng-show="creator.savingBasisMode">
          <md-progress-circular
            ng-class="{ 'save-basis-progress': creator.savingBasisMode }"
            md-mode="indeterminate"
            md-diameter="20">
          </md-progress-circular>
        </md-icon> -->

        <md-icon>done</md-icon>

        <span flex>{{ creator.saveBasisText }}</span>
      </md-button>
    </div>


    <!-- Duplicate Mobidul -->

    <div layout="column" ng-if=" ! creator.isNewMobidul">
      <md-button
        class="md-raised md-primary md-mobilot"
        ng-click="creator.cloneMyMobidul()"
      >
        <!-- TODO: replace copy icon with loading spinner, when duplicating -->
        <!-- <md-icon ng-show="creator.cloningMyMobidulMode">
          <md-progress-circular
            ng-class="{ 'save-basis-progress': creator.savingBasisMode }"
            md-mode="indeterminate"
            md-diameter="20">
          </md-progress-circular>
        </md-icon> -->

        <md-icon>content_copy</md-icon>

        <span flex>{{ creator.cloneMyMobidulText }}</span>
      </md-button>
    </div>

  </md-content>
</div>
