<div>

  <!-- CreatorController as creator -->

  <md-content
    class="creator-content"
    layout-padding
    ng-class="{ 'ios-top-margin': creator.isCordovaIos }"
  >
    <div
      style="margin-top: 1em"
      ng-show="creator.menu.length === 0"
    >
      <p class="helper center" translate="EMPTY_MENU_LIST"></p>
    </div>

    <ul dnd-list="creator.menu" ng-show="creator.menu.length">
      <!-- The dnd-draggable directive makes an element draggable and will
           transfer the object that was assigned to it. If an element was
           dragged away, you have to remove it from the original list
           yourself using the dnd-moved attribute -->
      <li
        ng-repeat="menuItem in creator.menu"
        dnd-draggable="menuItem"
        dnd-moved="creator.menu.splice( $index, 1 )"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = menuItem"
      >
        <div
          layout="row"
          ng-class="menuItem.isDivider ? 'menuDivider' : ''"
        >
          <md-input-container ng-maxlength="16" flex>
              <label>{{ menuItem.name }}</label>
              <input ng-model="menuItem.text">
          </md-input-container>

          <div class="creator-list-delete-item-controls">
            <md-button
              class="md-icon-button"
              aria-label="delete"
              ng-click="creator.deleteMenuItem( menuItem.id, $index )"
            >
              <md-icon>delete</md-icon>
            </md-button>
          </div>
        </div>
      </li>
    </ul>

    <div layout="row" layout-sm="column">
      <md-button
        class="md-mobilot-color center"
        aria-label="Hinzufügen"
        ng-click="creator.showAddMenuItem()"
      >
        <md-icon class="md-mobilot-color">add</md-icon>
        <span translate="ADD_MENU_ENTRY"></span>
      </md-button>
    </div>

    <div layout="row" layout-sm="column">
      <md-button
        class="md-raised md-primary md-mobilot"
        ng-click="creator.saveMenu()"
      >
        <md-icon>check</md-icon>
        <span translate="SAVE"></span>
      </md-button>
    </div>
  </md-content>
</div>
